<article class="panel is-link">
    <p class="panel-heading">New Post</p>
    <div class="panel-block" id="post-form">
        <%= simple_form_for(@post) do |f| %>
            <%= f.error_notification %>
            <div class="field">
                <%= f.input :post, 
                            label: "post about it!", 
                            input_html: { class: "textarea is-large"}, 
                            wrapper: false, 
                            label_html: {class: "label" }, 
                            placeholder: "Compose a new post...", 
                            autofocus: true %>
            </div>
            <%= f.button :submit, class: "button is-link" %>
        <% end %>
    </div>
    <%= link_to 'Back', posts_path, class: "button is-dark is-medium is-fullwidth" %>
</article>




